/*! Below 1344px (Smaller Desktop) */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-text {
    width: 100%;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
}

/*! Below 1200px (Landscape Tablet) */
/* @media (max-width: 75em) { */
@media (max-width: 75em) {
  html {
    /* 9px / 16px = 0.5625 */
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  /* .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  } */
  .hero {
    gap: 4.8rem;
  }
  .testimonial-container {
    /* padding: 9.6rem 3.2rem; */
  }
  .testimonial-text {
    width: 100%;
  }
  .list {
    justify-content: center;
    padding: 0 2.4rem;
  }
}

/*! Below 944px (Tablet) */
/* @media (max-width: 59em) { */
@media (max-width: 62em) {
  html {
    /* 8px / 16px = 0.5625 */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 8rem;
    gap: 6.4rem;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .deliverd-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .hero-img {
    width: 60%;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta-form input {
    width: 95.5%;
  }
  .btn--form {
    margin-top: 1.2rem;
  }

  /*! Mobile navigation */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigatgion */

    /* Allows no transition at all */
    /* display: none; */

    /* 1) Hide mobile nav visually*/
    opacity: 0;

    /* 2) Make it unaccessible to keyboard and mouse */
    pointer-events: none;

    /* 3)Hide it from screen readers */
    visibility: hidden;
  }

  /* Finally to open the mobile nav make all these CSS properties back to its default */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*! Below 700px (Smaller Tablet) */
/* @media (max-width: 44em) { */
@media (max-width: 55em) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    width: 80%;
  }
  .meal-one {
    justify-self: end;
  }
  .diet {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .pricing-plan {
    width: 70%;
  }
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/*! Below 550px (Mobile) */
/* @media (max-width: 34em) { */
@media (max-width: 45em) {
  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero-img {
    width: 80%;
  }
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(2.4rem);
  }
  .step-number {
    margin-top: 0;
  }
  .meal {
    width: 70%;
    justify-self: center;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .pricing-plan {
    width: 50%;
    justify-self: center;
  }
  .list {
    padding: 0;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .cta-image-box {
    height: 44rem;
    grid-row: 1;
  }
}
