/**
---01 TYPOGRAPHY SYSTEM
*Font sisz (px)
10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98/

*Font Weight
    Default: 400

*Line heights
    Default: 1

---02 COLORS
*Primary: #e67e22
..Tints: are the lighter version of any primary color
        #fdf2e9 
..Shades:
        #cf711f
..Accents:
..Greys:
    #555
    #333

---05 SHADOWS
---06 BORDER_RADIUS
---07 WHITESPACE
    *Spacing System (px)
2/ 4/ 8/ 12/ 24/ 32/ 48/ 64/ 80/ 96/ 128
*/
/* :root {
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* (px)value / 16px = (rem)value / 100% = (%)value */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1; /*Does not have unit*/
  font-weight: 400;
  color: #555;
}

/* Hero Section */
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0; /*the first value is left/right and the second is top/bottom */
}
.hero {
  /* NB this👇*/
  max-width: 130rem;
  margin: 0 auto;
  /* 👆  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr; */
  gap: 9.6rem;
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px; /*I have never use this be4*/
  color: #333;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/* What's it is above these two? (i.e link and visited) */
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem; /* NB <a> is a block element hence it requires a block styling*/
  border-radius: 9px;
  /* NB 👇 */
  transition: background-color 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* To add border inside a button */
  box-shadow: inset 0 0 0 3px #fff;
}
.deliverd-meals {
  display: flex;
  justify-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem; /*Making this the negative value of the class "Delivered-meals (gap)" causes the over lap*/
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
}
.hero-img {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
